
.App{
  height: 100vh;
  width: 100vw;
  background-image: url('https://wallpapercave.com/wp/wp1877185.jpg');
  background-position: center center;
  background-size: cover; 
  background-repeat: no-repeat;
  
}
.App > DashBoard{
  margin-top: 200px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: inline-block;
  max-width: 100%;
}

ul,
ol,
menu {
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}